.inventorytable {
	margin:auto auto auto auto;
	position:relative;
}
.inventorytable tr td {
	border:3px silver inset;
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	background-position:1px 1px;
	text-align:right;
	vertical-align:bottom;
}
.inventorytable.large tr td {
	width:30px;
	height:42px;
	cursor:pointer;
}
.inventorytable.large tr td:hover {
	background-color:#000;
	color:#FF0;
}
.small {
	font-size:8pt;
}


/* Page 1, Row 1 */
.inventorytable.p1 tr td.c0 {
	background-image:url('sprites/basic/wood.png');
}
.inventorytable.p1 tr td.c1 {
	background-image:url('sprites/basic/stone.png');
}
.inventorytable.p1 tr td.c2 {
	background-image:url('sprites/basic/carbon.png');
}
.inventorytable.p1 tr td.c3 {
	background-image:url('sprites/basic/copper.png');
}
.inventorytable.p1 tr td.c4 {
	background-image:url('sprites/basic/iron.png');
}
.inventorytable.p1 tr td.c5 {
	background-image:url('sprites/basic/alloy.png');
}
.inventorytable.p1 tr td.c6 {
	background-image:url('sprites/basic/steel.png');
}
.inventorytable.p1 tr td.c7 {
	background-image:url('sprites/basic/gold.png');
}

/* Page 1, Row 2 */
.inventorytable.p1 tr td.c8 {
	background-image:url('sprites/basic/woodrod.png');
}
.inventorytable.p1 tr td.c9 {
	background-image:url('sprites/basic/ironrod.png');
}
.inventorytable.p1 tr td.c10 {
	background-image:url('sprites/basic/goldrod.png');
}
.inventorytable.p1 tr td.c11 {
	background-image:url('sprites/basic/carbonrod.png');
}
.inventorytable.p1 tr td.c12 {
	background-image:url('sprites/basic/stonewall.png');
}
